<div class="chatBar">
	<svg class="sidebar">
		<path class="s-path" fill="#FFF"> </path>
	</svg>
	<div class="arrow"> </div>
	<div class="colourStatus"> </div>
	<div class="sidebar-content contactList"> </div>
	<div class="contactsWrapper">
	</div>
	<div class="sidebar-content searchBar">
		<div class="search">
			<img src="/images/elastic-srch.png" alt="" class="search__img" />
			<input type="text" class="search__input" placeholder="Search" />
		</div>
	</div>
	<div class="chat" id="chatbar">
		<span class="chat__back"></span>
		<div class="chat__person">
			<span class="chat__name">Chat name</span>
		</div>
		<div class="chat__messages">
		</div>
		<input type="text" class="chat__input" placeholder="Your message" />
	</div>
</div>

<audio id="newMessageAudio">
  <source src="/sounds/newMessage.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
