<!DOCTYPE html>
<html>
<!--
<head>
	<meta charset="UTF-8">
	<title>material profile test</title>
	<link rel="stylesheet" href="public/stylesheets/profile.css">
	<script type="text/javascript" src="public/javascripts/canvasjs.min.js"></script>
	<script src="public/javascripts/graph.js"></script>
</head>
-->
<body>
	<!-- <%= firstName > -->
<!--	<div class="card">
		<div class="content">
			<div id="chartContainer" style="height: 380px;"></div>
		</div>

	 Profile Page UI
		<div class="fabs">
			<div class="fab"></div>

				<i class="avatar">
					<img class="profile-img" src="public/images/lips.jpg" />

				</i>
				<a class="change-pic" href="#"><img src="public/images/changeProfile.svg" style="width: 30px; height: 30px;"/></a>
			</div>
			<div class="user">
			<div class="profiles">
				<div class="profile"><span><%= firstName > <%= lastName ></span><kbd>@<%= username ></kbd></div><br/>
				<div class="profile"><span class="light">Wins</span><kbd>50</kbd></div>
				<div class="profile"><span class="light">Loss</span><kbd>50</kbd></div>
			</div>
		</div>
		<div class="user">
			<div class="details">
				Hello it was nice to meet you. Hope we should meet some other time too. Looking forward to it.. ;)
			</div>
		</div>
	</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
<!-- <script src="public/javascripts/profile.js"></script> -->
</body>
</html>
