<link href='/fonts/roboto.css' rel='stylesheet' type='text/css'>
<div class="profileNav profileButton">
	<img src="/uploads/<%=profilePicture%>.jpg" alt="<%=name%>" class="profilePic" />
	<div class="tooltip">
		<a id="nav_profile" href="/profile" style="font-size: 15px; text-align: left ">My Profile</a>
		<a id="nav_request" href="/friendrequests" style="font-size: 15px; text-align: left ">Friend Requests</a>
		<a id="nav_logout" href="/logout" style="font-size: 15px; text-align: left ">Logout</a>
	</div>
</div>
