<div class="searchBox">
	<div class="title-container">
		<h1 class="title">Search for a user.</h1>
		<h1 class="title-down">Searching...</h1>
	</div>
	<fieldset class="field-container">
		<input type="text" placeholder="Search" class="field" />
		<div class="icons-container">
			<div class="icon-search"></div>
			<div class="icon-close">
				<div class="x-up"></div>
				<div class="x-down"></div>
			</div>
		</div>
	</fieldset>
	
	<div class='drawer'>
		<div class='content'>
		</div>
	</div>
</div>