@font-face {
    font-family: "NovaMono";
    src: url('/public/fonts/NovaMono.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url('/public/fonts/Roboto-Regular.ttf') format("truetype");
}

html body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.header{
    font-family: 'NovaMono', sans-serif;
    color: white;
    font-size: 600%;
    text-align: center;
    margin-top: 5%;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #9E9E9E;
}

.mainButtons{
    font-size: 270%;
    color: #444444;
    background-color: #ffffff;
    border-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: inline-block;
    height: 68px;
    line-height: 0;
    outline: 0;
    padding: 0 2rem;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    transition: 1s ease-out;
}

.mainButtons:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.mainButtonsSvg{
    fill: #9E9E9E;
}

.login{
    position: absolute;
    top: 35%;
    left: 42%;
}

.register{
    position: absolute;
    top: 50%;
    left: 42%;
}

.btn-ac{
    margin-left: +5%;
}

.king {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 35%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.king-active {
    margin-left: -12%;
}

.quoteBox {
    position: absolute;
    width: 50%;
    height: 20%;
    left: 25%;
    top: 75%;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: Italic;
}

.quote {
    font-size: 150%;
}

.author {
    text-align: right;
    font-size: 120%;
}

.modal-content {
    color: #000;
}

.modal-header, h4, .close {
    background-color: #9E9E9E;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}