@import url(/fonts/noto_sans.css);

html,
body {
  background-color: #FF003D;
  background-image: url("../images/pattern.png");
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.card {
  background-color: #fff;
  height: 400px;
  width: 300px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.2);
  height: 430px;
  width: 330px;
}

.card_circle {
  height: 400px;
  width: 450px;
  background-color: #FF003D;
  position: absolute;
  border-radius: 50%;
  margin-left: -75px;
  margin-top: -270px;
}

.card_circle::after {
  content: "";
  border-radius: 50%;
  background-position: 50% calc(50% - 75px);
  background-repeat: no-repeat;
  background-size: 330px;
  background-attachment: fixed;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;   
  filter: blur(4px);
}

.card:hover .card_circle, .card:hover .card_circle::after {
  border-radius: 0;
  margin-top: -130px;
}

.card_circle:hover::after {
  background-color: black;
  filter: blur(0px);
  opacity: 1;
}

h2 {
  text-align: center;
  margin-top: 175px;
  position: absolute;
  z-index: 9999;
  font-size: 26px;
  color: #FF003D;
  width: 100%;
  font-family: 'Noto Sans', serif;
  text-align: center;
}

h2 small {
  position: absolute;
  font-weight: normal;
  font-size: 65%;
  color: rgba(0, 0, 0, 0.5);
  width: 300px;
  left: calc(50% - 150px);
}

.card:hover h2 {
  margin-top: 80px;
  color: #fff;
}

.card:hover h2 small {
  color: #fff;
}

.cta-container {
  text-align: center;
  margin-top: 340px;
  position: absolute;
  z-index: 9999;
  width: 100%;
  font-family: 'Noto Sans', serif;
}

.cta {
  color: #fff;
  border: 2px solid #FF003D;
  background-color: #FF003D;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
}

.card:hover .cta-container {
  margin-top: 370px;
}

.hoverText {
  text-align: center;
}

.hUsername {
  top: 35px;
}

.hRating {
  top: 80px;
  font-size: 70%;
  font-weight: bold;
}

.hExp {
  top: 100px;
}

.card-profile_user-stats {
  background: #fff;
  float: left;
  width: 100%;
  height: calc(100% - 68% + 2px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-profile_user-stats .stats-holder {
  position: absolute;
  width: 100%;
  top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-profile_user-stats .user-stats {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.card-profile_user-stats .user-stats strong {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  color: #B3B1B2;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
}
.card-profile_user-stats .user-stats span {
  font-size: 26px;
  color: #5E5E5E;
  padding: .18em 0;
  display: inline-block;
}

.card .card-profile_user-stats {
  font-family: 'Noto Sans', serif;
  text-transform: uppercase;
  opacity: 0;
}

.user-stats strong {
  font-size: 11px !important;
}

.card:hover .card-profile_user-stats {
  opacity: 1;
}

.edit {
  cursor: pointer;
  position: absolute;
  height: 22px;
  width: 22px;
  top: calc(50% + 170px);
  left: calc(50% + 150px);
  z-index: 9999;
  opacity: 0;
}

.card_circle:hover .edit {
  opacity: 1;
}